<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to SAIRAM Exams</h1>
    <h1>Rules :</h1>
    <ul>
      <li>Rule 1:You should write only one exam per day</li>
      <li>Rule 2:You should write only one exam per day</li>
      <li>Rule 3:You should write only one exam per day</li>
      <li>Rule 4:You should write only one exam per day</li>
      <li>Rule 5:You should write only one exam per day</li>
    </ul>
  </div>
</div>
{% endblock %}
